<div class="tab-container">


  <p-panel header="ליווי פרוייקטים בניה" class="p-panel-sm" [toggleable]="true">

    <p-table [value]="projectConstructionFinancingRows()" [paginator]="true" [rows]="10"
      styleClass="p-datatable-striped p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>בנק</th>          
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.bank }}</td>          
        </tr>
      </ng-template>

      

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">
            <div class="empty-message">
              <i class="pi pi-info-circle"></i>
              <p>לא נמצאו נתונים להצגה</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>



  </p-panel>

</div>